{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block body %}

				<div class="row">
					<form method="POST" action="#"> {% csrf_token %}


						<h2>Contact Us</h2>
						<p>Have any questions?&emsp;<strong>Simply Call</strong></p>
								{% csrf_token %}
								{{form|bootstrap}}



						<br><br>
						<div>

                              <button float="left" class="btn waves-effect waves-light blue darken-1" type="submit">Send Message
                                    <i class="mdi-content-send right white-text"></i>
                              </button>&emsp;&emsp;



                        </div>

                    </form>
				</div>



{% endblock %}