{% load staticfiles %}
<html>
{% include 'head.html' %}


<body id="top" class="scrollspy">

{% include 'nav.html' %}
<!--Navigation-->


<!-- Dashboard -->
<div class="container">
  <h2 >Terms and Conditions</h2><div class="row">
      <div class="col s12 m15">
        <div class="card-panel blue">
          <font size="3.5"><p  class="white-text">At the time of uploading <b>Form 16</b> -<br>
            <br>
          &emsp;&emsp;<strong>1</strong>. The person authorize the website <strong>easyreturns.tax</strong> to<br>
          <br>
          &emsp;&emsp;&emsp;&emsp;a. File his/her the income tax return for the concerned assessment year<br>
          <br>
          &emsp;&emsp;&emsp;&emsp;b. Register the details of the user on TRACES website (which verifies the correctness of the TDS Certificate)<br>
          <br>
          &emsp;&emsp;&emsp;&emsp;c. Call him/her in case some queries arise in the process of filing Income Tax Returns<br>
          <br>

          &emsp;&emsp;<strong>2</strong>. Easyreturns.tax will not be responsible for any mistake in the return as a result of wrong information entered by the user.<br>
          </p>
        </div>
      </div>
    </div>


</div>


<!--Footer-->

{% include 'footer.html' %}

    </body>
</html>
