{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block body %}
    <div class="row">

            <form method="post" action="{% url 'account_confirm_email' key=confirmation.key %}">
                <p>{% trans "Confirm Email" %}</p>
                <fieldset>
                    {% csrf_token %}
                    <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>

                    <button class="btn waves-effect waves-light blue darken-1" type="submit">{% trans "Confirm" %}
                        <i class="mdi-content-send right white-text"></i>
                    </button>

                </fieldset>
            </form>

    </div>
{% endblock %}