{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}

            <form method="POST" action="{% url 'account_logout' %}">
                <h2 class="header text_b" align="center"></h2>

                <br><br><br>
                <div>
                    {% csrf_token %}

                    <p align="center">Are you sure you want to log out?</br></p>

                    <button class="btn waves-effect waves-light blue darken-1" type="submit">{% trans "Log out" %}
                        <i class="mdi-content-send right white-text"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}