{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
<hr>
    <div class="row">

            <form class="col s12" method="POST" action="">
                <h2>{% trans "Change password" %}</h2>

                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn waves-effect waves-light blue darken-1">{% trans "Save" %}
                        <i class="mdi-content-send right white-text"></i>
                    </button>

            </form>

    </div>
{% endblock %}