{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset sent" %}{% endblock %}

{% block body %}
    <h2>{% trans "Password reset sent" %}</h2>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:vamagithub@gmail.com">vamagithub@gmail.com</a>.{% endblocktrans %}</p>
        
        <div class="row">

                <form class="col s12" method="POST" action="{% url 'account_password_reset' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn waves-effect waves-light blue darken-1">{% trans "Resend" %}
                        <i class="mdi-content-send right white-text"></i></button>
                </form>
            </div>

    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:vamagithub@gmail.com">vamagithub@gmail.com</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}